<div class="container">
  <div class="row">
    <div class="col-md-7">
      <h1>View Person</h1>
      <table class="table table-striped">
        <tr>
          <th>Name</th>
          <td><span class="glyphicon glyphicon-user"></span> <%=@person.name%></td>
        </tr>
        <tr>
          <th>National Insurance Number</th>
          <td><span class="glyphicon glyphicon-credit-card"></span> <%=@person.nin%></td>
        </tr>
        <%unless @person.house.nil? %>
          <tr>
            <th>Rented House</th>
            <td><span class="glyphicon glyphicon-home"></span> <%=link_to @person.house.title, house_path(@person.house) %></td>
          </tr>
          <tr>
            <th colspan="2"><%=link_to "Vacate house", "#", class: "btn btn-primary"%></th>
          </tr>
        <%end%>
      </table>
    </div>
  </div>
</div>
