<div class="container">
  <div class="row">
    <div class="col-md-7">
      <h1>View Person</h1>
      <table class="table table-striped">
        <tr>
          <th>Name</th>
          <td><%=@person.name%></td>
        </tr>
        <tr>
          <th>National Insurance Number</th>
          <td><%=@person.nin%></td>
        </tr>
        <%unless @person.house.nil? %>
          <tr>
            <th>Tenant</th>
            <td><span class="glyphicon glyphicon-user"></span> <%=@person.house%></td>
          </tr>
          <tr>
            <th colspan="2"><%=link_to "Leave house", "#", class: "btn btn-primary"%></th>
          </tr>
        <%end%>
      </table>
    </div>
  </div>
</div>
